@CHARSET "ISO-8859-1";
	*{		font-size : 24px;  }
.primi_selettori {
	background-color: lightGreen;
}
h1{
	color: blue;
}
h2,h3 {
	color: yellow;
}
#p1 strong{
	color: red;
}

h1{
	text-transform: uppercase;
	background-color: yellow;
}
div>p{
	background-color: teal;
}

#pConSpan span{
	background-color: fuchsia;
}

ul + p{
	color: red;
}

span[id] {	background-color: orange;}
span[id="123"] {	background-color: aqua;}
span[class~=class2] { background: lightGreen; }
span[class^=class3] { background: red; }
span[class$=class6] { background: brown;}

#myid {
	background-color: cyan;
}

.myclass {
	background-color: #00FF00;
}

p.myclass {
	background-color: #fff;
}

p#mysecondid {
	background-color: #CCCCFF;
}

a: link {
	color: maroon;
}
a: visited {
	color: fuchsia;
}
a:HOVER {
	color: red;
}

#input_text:focus{
	color: yellow;
	background-color:gray; 
}

input[class=my_radio]:checked + label{ color: blue; }
